[submodule "testutils"]
	path = testutils
	url = git@github.com:rahul-a/testutils.git
[submodule "network"]
	path = network
	url = git@github.com:rahul-a/network.git
[submodule "uikit"]
	path = uikit
	url = git@github.com:rahul-a/uikit.git
[submodule "commons"]
	path = commons
	url = git@github.com:rahul-a/commons.git
